* {
    box-sizing: border-box;
    color: rgba(255, 255, 255);
    font-family: 'Nunito Sans', sans-serif;
}
*::-webkit-scrollbar {
    width: 6px; /* ширина scrollbar */
}
*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2); /* цвет дорожки */
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6); /* цвет плашки */
    border-radius: 20px; /* закругления плашки */
    border: 3px solid rgba(255, 255, 255, 0.2); /* padding вокруг плашки */
}
body {
    margin: 0;
    padding: 0;
}
p,
button {
    margin: 0;
    padding: 0;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}
